.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  caret-color: red;

  & label {
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.8rem 0 0.2rem;
  }


  & input[type="submit"] {
    margin-top: 0.6rem;
    padding: 0.6rem;
    width: fit-content;
    min-width: 200px;
  }

  & .dark {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    background-color: black;
    font-size: 1.2rem;
    font-family: "Roboto_Mono", Arial, Helvetica, sans-serif;
    cursor: pointer;

    &:hover,
    &.selected {
      background-image: url("/assets/backgrounds/Matrix_SVG.svg");
      background-size: contain;
      color: whitesmoke;
    }
  }

  & .light {
    color: red;
    background-color: white;
    border: 3px solid #b51f26;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: "Kanit_Regular", Arial, Helvetica, sans-serif;
    cursor: pointer;

    &:hover,
    &.selected {
      background-image: url("/assets/backgrounds/dust_SVG.svg");
      background-size: cover;
      color: black;
    }
  }

  & .neumorphism {
    color: blue;
    box-shadow: -5px 5px 10px #bebebe, 5px -5px 10px #ffffff;
    color: black;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #bcd8ff;
    font-family: "Open_Sans", Arial, Helvetica, sans-serif;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: #ffffff;
      box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
    }
  }

  & .neubrutalism {
    background-color: #ff6b00;
    color: white;
    border: 5px solid black;
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Lexend_Mega", Arial, Helvetica, sans-serif;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: #00a3ff;
      border-radius: 5px;
      transform: scale(1.1);
    }
  }

  & .gamer {
    color: black;
    border: 3px solid gray;
    background-color: white;
    font-family: "PressStart2P", Arial, Helvetica, sans-serif;
    cursor: pointer;

    &:hover,
    &.selected {
      transform: translateY(2px);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
      background-color: #c0bebe;
    }
  }

  & input[type="text"],
  input[type="email"] {
    padding: 0.6rem;
    width: 350px;
    height: 2rem;
    font-size: 1.2rem;
  }

  & textarea {
    min-height: 150px;
    width: 50%;
    padding: 0.6rem;
    resize: none;
    field-sizing: content;
    font-size: 1.2rem;
  }
}
