.contenedorEstilos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
  transition: all 0.3s ease-in-out;

  & button {
    all: unset;
    cursor: pointer;
  }

  & .dark {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    background-color: black;
    padding: 1rem;
    font-size: 1.2rem;

    &:hover,
    &.selected {
      background-image: url("/assets/backgrounds/Matrix_SVG.svg");
      background-size: contain;
      color: whitesmoke;
    }
  }

  .light {
    color: red;
    background-color: white;
    border: 3px solid #b51f26;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
    &:hover,
    &.selected {
      background-image: url("/assets/backgrounds/dust_SVG.svg");
      background-size: cover;
      color: black;
    }
  }

  .neumorphism {
    color: blue;
    box-shadow: -5px 5px 10px #bebebe, 5px -5px 10px #ffffff;
    color: black;
    padding: 0.6rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #bcd8ff;

    &:hover,
    &.selected {
      background-color: #ffffff;
      box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
    }
  }

  .neubrutalism {
    background-color: #ff6b00;
    color: white;
    border: 5px solid black;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: #00a3ff;
      border-radius: 5px;
      transform: scale(1.1);
    }
  }

  .gamer {
    color: black;
    border: 3px solid gray;
    background-color: white;
    padding: 1rem;

    &:hover,
    &.selected {
      transform: translateY(2px);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
      background-color: #c0bebe;
    }
  }
}
