* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-out allow-discrete;
}

html {
  font-family: "Roboto_Mono", Arial, Helvetica, sans-serif;
  cursor: default;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
  text-align: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.3rem;
}

/* tipografías */
@font-face {
  font-family: "Roboto_Mono";
  src: local("Roboto_Mono"),
    url(assets/fonts/Roboto_Mono/Roboto_Mono.woff2) format("woff2");
}

@font-face {
  font-family: "Open_Sans";
  src: local("OpenSans-Regular"),
    url(assets/fonts/Open_Sans/OpenSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Kanit_Regular";
  src: local("Kanit_Regular"),
    url(assets/fonts/Kanit/Kanit_Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Lexend_Mega";
  src: local("Lexend_Mega_Regular"),
    url(assets/fonts/Lexend_Mega/Lexend_Mega_Regular.woff2) format("woff2");
}

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P_Regular"),
    url(assets/fonts/PressStart2P/PressStart2P_Regular.ttf) format("truetype");
}


/* contenedor estilos */
/* desenfoque al cambiar de estilos */
.blur {
  filter: blur(5px); /* Ajusta el valor según la intensidad del desenfoque deseada */
  transition: filter 0.5s ease; /* Transición suave para el desenfoque */
}

.dark {
  font-family: "Roboto_Mono", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.light {
  font-family: "Open_Sans", Arial, Helvetica, sans-serif;
  color: red;

  & a {
    color: palevioletred;
  }

  /* & h2 {
    color: yellow;
  } */
}

.neumorphism {
  color: blue;
}

.neubrutalism {
  color: green;
}

.gamer {
  color: orange;
}

/* hamburger styles (hamburger menu) */
.hamburger {
  cursor: pointer;

  & .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
  }
}

/* nav styles */
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;

  & a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;

    & a {
      display: inline-block;
      margin: 1rem 2rem 0;
      padding: 0 0.5rem;
      width: auto;

      /* &:hover {
        background-color: black;
        border-bottom: 3px solid lightgreen;
      } */
    }
  }

  .hamburger {
    display: none;
  }
}