* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-out allow-discrete;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  height: 100%;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.3rem;
  margin: 0 auto;
}

/* tipografías */
@font-face {
  font-family: "Roboto_Mono";
  src: local("Roboto_Mono"),
    url(/assets/fonts/Roboto_Mono/Roboto_Mono.woff2) format("woff2");
}

@font-face {
  font-family: "Open_Sans";
  src: local("OpenSans-Regular"),
    url(/assets/fonts/Open_Sans/OpenSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Kanit_Regular";
  src: local("Kanit_Regular"),
    url(/assets/fonts/Kanit/Kanit_Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Lexend_Mega";
  src: local("Lexend_Mega"),
    url(/assets/fonts/Lexend_Mega/Lexend_Mega.woff2) format("woff2");
}

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P_Regular"),
    url(/assets/fonts/PressStart2P/PressStart2P_Regular.woff2) format("woff2");
}

/* contenedor estilos */
/* desenfoque al cambiar de estilos */
.blur {
  filter: brightness(0.2) blur(5px);
  transition: filter 0.9s ease;
  z-index: 1;
}

.dark {
  font-family: "Roboto_Mono", Arial, Helvetica, sans-serif;
  background-image: url("/assets/backgrounds/Firefly_SVG.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
  min-height: 100%;

  & .proyectoH3 {
    color: red;
  }

  & a {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    padding: 0.6rem;

    &:hover {
      color: whitesmoke;
      background-image: url("/assets/backgrounds/Matrix_SVG.svg");
      background-size: contain;
      border-radius: 5px;
      border: 3px solid whitesmoke;
    }
  }

  & .linkContacto {
    padding: 0.05rem;
  }
}

.light {
  font-family: "Kanit_Regular", Arial, Helvetica, sans-serif;
  color: rgb(217, 7, 7);
  background-image: url("/assets/backgrounds/Gooey_x_SVG.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;

  & .strong,
  .proyectoH3 {
    color: black;
    font-weight: bolder;
  }

  & a {
    color: red;
    border-bottom: 3px solid #b51f26;
    padding: 0 0.5rem;

    &:hover {
      color: whitesmoke;
      background-color: #b51f26;
      border-radius: 5px;
    }
  }

  & .linkContacto {
    padding: 0.05rem;
    border-bottom: none;
  }
}

.neumorphism {
  font-family: "Open_Sans", Arial, Helvetica, sans-serif;
  color: #606a80;
  background-image: url("/assets/backgrounds/neumor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;

  & strong,
  .proyectoH3 {
    color: black;
  }

  &:hover {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 5px;
  }

  & h2 {
    width: 300px;
    max-width: 500px;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 2rem;
    margin-top: 1.5rem;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  }

  & a {
    box-shadow: -5px 5px 10px #bebebe, 5px -5px 10px #ffffff;
    background-color: pink;
    padding: 0.6rem;
    border-radius: 5px;
    color: black;

    &:hover {
      background-color: #d3b3ff;
      border-radius: 5px;
      transform: scale(1.1);
    }
  }

  & .linkContacto {
    padding: 0.05rem;
  }
}

.neubrutalism {
  font-family: "Lexend_Mega", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #ffd700;
  min-height: 100%;
  font-weight: bolder;

  & .strong,
  .proyectoH3 {
    color: #0175b8;
  }

  & a {
    color: #0000ff;
    background-color: lime;
    border: 4px solid black;
    padding: 0.6rem;

    &:hover {
      color: black;
      background-color: #00a3ff;
      border-radius: 5px;
      transform: scale(1.1);
    }
  }

  & span {
    color: red;
  }

  & h2 {
    font-size: 2rem;
    background-color: #ff00a0;
    width: 60%;
    max-width: 800px;
    border: 5px solid black;
    padding: 0.6rem;
  }

  @media screen and (max-width: 500px) {
    & h2 {
      font-size: 1.5rem;
      width: 90%;
    }
  }

  & .linkContacto {
    padding: 0.05rem;
  }
}

.gamer {
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
  color: lime;
  background-image: url("/assets/backgrounds/Interstellar_SVG.svg");
  min-height: 100%;

  & .strong,
  .linkContactoP,
  .proyectoH3 {
    color: white;
  }

  & .linkContactoP {
    font-size: 1rem !important;
  }

  & h1 {
    margin: 2rem auto;
    font-size: 4rem !important;
    color: red;
  }

  & h2,
  .youWin {
    animation: blink1 3s infinite alternate-reverse both;
  }

  & a {
    color: #915bc8;
    border-bottom: 3px solid white;
    border-top: 3px solid transparent;

    &:hover {
      color: white;
      border-top: 3px solid white;
      border-radius: 5px;
    }
  }
}

/* Menu´s */
/* full-menu */
.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  & a {
    text-decoration: none;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

.hamburger-menu {
  display: none;
}

/* menu modo hamburguesa */
@media screen and (max-width: 500px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    cursor: pointer;
    width: 4.5rem;

    & .line {
      width: 45px;
      height: 7px;
      background-color: red;
      margin: 5px 0;
    }

    & .menu-open {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 250px;

      & a {
        all: unset !important;
        text-decoration: none;
        border-bottom: none;
        font-size: 1.5rem !important;
        font-weight: bolder !important;
      }
    }

    & .menu-closed {
      display: none;
    }
  }
}

/* animaciones de animista.net */

/* ----------------------------------------------
 * Generated by Animista on 2025-4-5 10:10:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.vibrate1 {
  -webkit-animation: vibrate1 0.3s linear infinite both;
  animation: vibrate1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-4-5 10:49:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
