.card {
  backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 1;
}

.descripcion {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.descripcion:hover {
  opacity: 0.8;
}

.emoji {
  font-size: 8rem;
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  transform: rotate(-15deg);
  transition: all 0.3s ease;
}

.card:hover .emoji {
  transform: rotate(0deg) scale(1.1);
}

.tags {
  font-size: 0.9rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.link {
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
  width: fit-content;
}

.toastContent {
  position: relative;
  padding-right: 2rem;
}

.closeButton {
  position: absolute;
  right: -10px;
  top: -10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.closeButton:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .card {
    width: 95%;
    max-width: 350px;
  }
  
  .emoji {
    font-size: 6rem;
  }
}