---
// layout
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Acerca de · Gato Rojo Lab";
import MarqueeTecnologias from "../componentes/MarqueeTecnologias.astro";
---

<style>
  .acerca-de {
    padding: 1rem;
    text-align: center;

    & p {
      font-size: 1.6rem;
      line-height: 1.5;
      margin: 1rem auto 0;
      width: 75%;
      max-width: 800px;
      backdrop-filter: blur(5px);
    }
  }

  @media only screen and (max-width: 768px) {
    .acerca-de {
      & p {
        /* font-size: 1.4rem; */
        width: 90%;
      }
    }
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <section class="acerca-de">
    <MarqueeTecnologias />

    <p>
      Gato Rojo Lab se enfoca en soluciones web funcionales, minimalistas y
      accesibles, dónde lo más importante es la Experiencia de la Persona
      Usuaria.
    </p>
    <p>
      Ya sea que necesite una Landing Page, una Tienda en Línea para vender sus
      productos, el blog de cocina o viajes que siempre ha querido tener, o
      algún proyecto más complejo, Gato Rojo Lab puede hacerlo realidad gracias
      a la expriencia y conocimiento en tecnologías modernas, además de la
      atención al detalle y nivel de especifidad de requerimientos.
    </p>
    <p>
      Nos gusta trabajar con personas individuales y PYMES que ven en la
      creatividad y la accesibilidad una forma ideal de atraer y mantener a sus
      clientes.
    </p>
    <p>
      Visite la sección de Proyectos para ver un poco de lo que podemos lograr.
    </p>
  </section>
</BaseLayout>
