---
// layout
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Gato Rojo Lab · Desarrollo web minimalista y práctico";

// componentes
import ContenedorBotonesEstilos from "../componentes/ContenedorBotonesEstilos";
import DescripciónEstilosP from "../componentes/DescripciónEstilosP";
---

<style>
  .index {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    & h1 {
      /* margin: 1rem auto 0; */
      font-size: 5rem;
    }

    & p {
      font-size: 1.5rem;
      margin: 1rem auto;
      max-width: 800px;
    }
  }

  @media only screen and (max-width: 500px) {
    .index {
      justify-content: flex-start; /* En móviles, alinear desde arriba */
      padding-top: 2rem; /* Dar espacio en la parte superior */

      & h1 {
        font-size: 3rem; /* Reducir tamaño de fuente en móviles */
      }
    }
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <section class="index">
    <h1>
      G<span>a</span>t<span>o</span>
      R<span>o</span>j<span>o</span>
      L<span>a</span>b
    </h1>
    <p>
      Soluciones web funcionales, minimalistas y
      accesibles, dónde lo más importante es la Experiencia de la Persona Usuaria.
    </p>
    <h2>Elige un estilo</h2>
    <ContenedorBotonesEstilos client:only="react" />
    <DescripciónEstilosP client:only="react" />
  </section>
</BaseLayout>
