---
// layout
import BaseLayout from "../layouts/BaseLayout.astro";

// componentes
import ContenedorBotonesEstilos from "../componentes/ContenedorBotonesEstilos";
---

<style>
  .index {
    height: 100vh;
  }
</style>

<BaseLayout pageTitle="Home">
  <section class="index">
    <h1>Astro</h1>
    <h2>Elige un estilo</h2>
    <ContenedorBotonesEstilos client:only="react" />
  </section>
</BaseLayout>
