---
// layout
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = 'Servicio · Gato Rojo Lab'
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Servicios</h1>
  <h2>Minimalista</h2>
</BaseLayout>
