---
import Navigation from "./Navigation.astro";
import HamburgerMenu from "./HamburgerMenu";
---

<header aria-label="Encabezado principal del sitio">
  <nav aria-label="Navegación principal">
    <HamburgerMenu client:only="react" />
    <Navigation />
  </nav>
</header>
