---
import type { PropsCard } from "../types/types";

const { name, tags, description, emoji, link } = Astro.props as PropsCard;
---

<style>
  li {
    /* max-width: 300px; */
    backdrop-filter: blur(5px);
    padding: 2rem;

    & h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    & p {
      margin: 0.5rem 0;
      font-size: 1.2rem;
    }

    & .emoji {
      font-size: 2.5rem;
    }

    & .tags {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    & a {
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    li {
      & p {
        width: 400px;
        /* margin: 0 auto 2rem; */
        /* max-width: 100%; */
      }
    }
  }
</style>

<li>
  <h3 class="proyectoH3" translate="no">{name}</h3>
  <p class="descripcion">{description}</p>
  <p class="emoji">{emoji}</p>
  <p class="tags">{tags.join(", ")}</p>
  <a href={link} target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
</li>
