---
import type { PropsCard } from "../types/types";

const { name, tags, description, emoji, link } = Astro.props as PropsCard;
---

<style>
  li {
    width: 300px;
    backdrop-filter: blur(5px);

    & h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    & p {
      margin: 0.5rem 0;
    }

    & .emoji {
      font-size: 2.5rem;
    }

    & .tags {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }

    & a {
      text-decoration: none;
    }
  }

</style>

<li>
  <h3 class="proyectoH3">{name}</h3>
  <p class="descripcion">{description}</p>
  <p class="emoji">{emoji}</p>
  <p class="tags">{tags.join(", ")}</p>
  <a href={link} target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
</li>
